<form class="form-signin" [formGroup]="form" (ngSubmit)="onLogin()">
    <img class="mb-4" src="../../assets/img/Smartenit.png" alt="" width="300" height="67">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="user" class="sr-only">User</label>
    <input type="text" class="form-control" id="user" formControlName="user" name="user" required placeholder="User" />


    <label for="password" class="sr-only">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password" name="password" required placeholder="Password" />
    <button type="submit" value="Ingresar" class="btn btn-lg btn-primary btn-block">Sign in </button>

</form>