<!--div class="card ">
    <img class="card-img-top" [src]="device.media.img" alt="">
    <div class="card-body">
        <h4 class="card-title">{{device.name}}</h4>
        <p class="card-text">{{device.model}}</p>
        <p class="card-text">{{device.state}}</p>
    </div>
</div-->

<!--div class="media">
    <img class="d-flex mr-3" [src]="device.media.img" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0">{{device.name}}</h5>
        <p class="">{{device.model}}</p>
        <p class="">{{device.state}}</p>
    </div>
</div-->


<ul class="list img-list">
    <li>
        <a href="" class="inner">
            <div class="li-img">
                <img [src]="device.media.img" alt="Image Alt Text" />
            </div>
            <div class="li-text">
                <h4 class="li-head">{{device.name}}</h4>
                <p class="li-sub">{{device.model}}</p>
                <p class="li-sub">{{device.state}}</p>
            </div>
        </a>
    </li>
    <li>
</ul>