<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="">Smartenit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">

        </ul>
        <button (click)="logout()" type="button" class="btn btn-dark">
        Logout
      </button>
    </div>
</nav>

<div class="container">



    <div class="row text-center">

        <!--Pattern HTML-->
        <div id="pattern" class="pattern" *ngFor="let device of devices">

            <app-device [device]="device"></app-device>

        </div>
    </div>
    <br>
    <br>

    <div class="row text-center">
        <ul class="nav nav-pills">
            <li class="nav-item" *ngFor="let p of pages; ">
                <a class="nav-link" (click)="setPage(p)" [ngClass]="{'active': p==page}"> {{p}}</a>
            </li>
        </ul>
    </div>

</div>